body {
  border: 0.6vh solid black;
  border-radius: 2vh;
  padding: 8px;
  width: 70%;
  margin: auto;
  margin-top: 1.5vw;
  background-image: repeating-radial-gradient(
    rgb(227, 169, 241),
    rgb(209, 141, 226) 10%,
    rgb(219, 151, 233) 15%
  );
  color: rgb(102, 43, 199);
  font-size: 20px;
  font-weight: bold;
}

.main {
  background: url("./images/devsnest.jpg") no-repeat top right;
  background-size: 150px 140px;
}
