body {
  background: rgb(198, 123, 32);
  /* background: linear-gradient(
    90deg,
    rgba(198, 123, 32, 1) 0%,
    rgba(207, 123, 81, 1) 0%,
    rgba(242, 74, 92, 0.14049369747899154) 100%
  ); */

  background: linear-gradient(90deg, #c94b4b 0%, #4b134f 100%);
}
header {
  text-align: center;
  font-size: 39px;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 2px 2px 3px grey;
  font-size: 46px;
  background: linear-gradient(#eee, rgb(113, 112, 121));
  background-clip: text;
  /* text-fill-color: transparent; */
}
main {
  /* background-color: cadetblue; */
  margin: auto;
  width: 52vh;
  height: 77vh;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 8vh;
  border-radius: 5vh;

  background: rgb(61, 120, 124);
  background: linear-gradient(90deg, #aa4b6b 14%, #6b6b83 100%, #3b8d99 100%);
  /* background: rgb(61, 120, 124);
  background: linear-gradient(
    90deg,
    rgba(61, 120, 124, 1) 14%,
    rgba(129, 231, 218, 0.8827906162464986) 100%,
    rgba(129, 131, 231, 0.14049369747899154) 100%
  ); */
}

.cal {
  margin: auto;
  margin-top: 18%;
}

.styled {
  border: 0;
  line-height: 3.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgba(220, 0, 0, 1);
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.styled:hover {
  background-color: rgba(255, 0, 0, 1);
}

.styled:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.styled {
  width: 64px;
  margin-right: 6px;
  margin-bottom: 6px;
}

#res {
  width: 86px;
  padding: 3px;
}

#edu {
  background-color: white;
  width: 76%;
  margin: 18px;
  color: black;
  font-size: 18px;
}
